<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        name="name"
        placeholder="Nome"
        [(ngModel)]="product.name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="price"
        placeholder="Preço (R$)"
        [(ngModel)]="product.price"
      />
    </mat-form-field>
  </form>
</mat-card>

<button mat-raised-button (click)="createProduct()" color="primary">
  Criar
</button>

<button mat-raised-button (click)="cancel()">Cancelar</button>
